.app {
  text-align: center;
  position: absolute;
  right: 0;
  width: 45%;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.block {
  width: 50px;
  height: 50px;
  display: grid;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  position: relative;
  grid-gap: 0px;
}

.sub-block {
  width: 100%;
  height: 100%;
  position: relative;
  background: #aaaaff;
  align-items: center;
  justify-content: center;
}

.sub-block .door {
  display: block;
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

.sub-block .door.open {
  background: green;
}

.sub-block .door.closed {
  background: red;
}

.sub-block .door.wall {
  background: black;
}

.sub-block .door.horizontal {
  width: 100%;
  height: 3px;
}

.sub-block .door.vertical {
  width: 3px;
  height: 100%;
}

.sub-block .door.top {
  top: 0;
}
.sub-block .door.right {
  right: 0;
}
.sub-block .door.bottom {
  bottom: 0;
}
.sub-block .door.left {
  left: 0;
}
